<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.netease.cloudmusic.iot" />
        <package android:name="com.netease.cloudmusic" />
        <package android:name="com.ninepointnine.desktoplyrics" />
        <package android:name="com.ninepointnine.desktoplyrics.test" />
        <intent>
            <action android:name="android.media.browse.MediaBrowserService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <uses-permission android:name="com.ninepointnine.desktoplyrics.permission.MEDIA_DIAGNOSTICS" />
    <uses-permission android:name="com.ninepointnine.desktoplyrics.test.permission.MEDIA_DIAGNOSTICS" />
    <uses-permission android:name="android.permission.INTERNET" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" tools:node="remove" />
    <permission android:name="${applicationId}.permission.MEDIA_DIAGNOSTICS" tools:node="remove" />
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        tools:node="remove" />

    <application android:label="@string/app_name">
        <provider android:name=".MediaDiagnosticsProvider" tools:node="remove" />
        <activity
            android:name=".MainActivity"
            tools:node="remove" />

        <activity
            android:name=".DiagnosticActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <meta-data android:name="com.tcrrry.icar.window.STANDARD_FLOATING_WINDOW" android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MediaDiagnosticService" android:exported="false"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="User-initiated 60 second media session diagnostics" />
        </service>

        <service android:name=".IcarDockAccessibilityService" tools:node="remove" />
        <service android:name=".LyricsOverlayService" tools:node="remove" />
        <service android:name=".SurfaceOccupancyLeaseService" tools:node="remove" />
        <service android:name=".FullDisplayOccupancyLeaseService" tools:node="remove" />
        <receiver android:name=".BootReceiver" tools:node="remove" />
    </application>
</manifest>
